body  {
  font-family: "Garamond", sans-serif;
  line-height: 1.6;
}
ul {
  display: inline-block;
}
hr  {
  border: 1px dashed #8AB8E6;
}
#name {
  font-size: 40px;
}
.cover {
  text-align: center;
  background-image: url("background.jpg");
  background-position: 10%;
  color: white;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.cover a {
  color: white;
}
.resume  {
  width: 900px;
  margin: auto;
  background-color: #CCE6FF;
  border: 2px solid #8AB8E6;
  padding: 20px;
  border-radius: 4px;
}
.profile-photo  {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.button {
  background-color: #333;
  color: white;
  padding: 20px 30px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  background-color: #A31919;
}
